@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Saguaro University</h1>
</div>
<div class="home-image">
    <img src="https://images.pexels.com/photos/5940841/pexels-photo-5940841.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="school pic" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Saguaro University</h2>
        <p>
            Saguaro University is focused on your learning and devlopment.
            We want you to find success!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enrollment</h2>
        <p>You're just steps away from applying! Complete an application today.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Academics</h2>
        <p>We have a wide range of courses and teachers that you can learn from. Check them out!</p>
       
    </div>
</div>